/*  */
.tweet-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-self: stretch;
  padding: 2em;
  height: 360px;
}
/*  */
.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: .5%;
  transition: .4s;
  border-spacing: 10px;
  margin-top: 2em;

}
/*  */
.user-info {
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em
}
/*  */
.tweet-post {
  display: flex;
  height: 130px;
  padding: 1em;
  border-bottom: 5px solid black;
  width: 95%;
  align-self: center;
}
/* also known as the tweet-footer, but using class name broke the interactives layout */
article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: .5em
}
/*  */
.interactives {
  display: flex;
  flex-direction: row;
}
/* gives space between the interactives*/
.interactive {
  padding: .1em;
}
/* creates a box shadow effect when hovering over a tweet */
.tweet:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
  border-color: rgb(70, 33, 100)
}
/* colors the interactives when hovered over */
.interactive:hover {
  color: rgb(43, 40, 218);
}

