/*  */
.tweet-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-self: stretch;
  padding: 2em;
  height: 360px;
}
/*  */
.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: .5%;
  transition: .4s;
  border-spacing: 10px;

}
/*  */
.user-info {
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em
}
/*  */
.tweet-post {
  display: flex;
  height: 130px;
  padding: 1em;
  border-bottom: 5px solid black;
  width: 95%;
  align-self: center;
}
/*  */
article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: .5em
}
/*  */
.interactives {
  display: flex;
  flex-direction: row;
}
.interactive {
  padding: .1em;
}

.tweet:hover {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  border-color: rgb(70, 33, 100)
}
.interactive:hover {
  color: rgb(43, 40, 218);
}
.checked {
  color: rgb(43, 40, 218);
}
